<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <img src="assets/img/logo-senamhi.svg" alt="SENAMHI" class="img-fluid rounded" width="250" height="250" />
  </div>
  <div class="login-box">
    <form class="login-form" autocomplete="off" name="myForm" #myForm="ngForm" novalidate>
      <h3 class="login-head"><i class="icon-feather-package"></i>&nbsp; Aplicaciones</h3>

      <div class="form-group">
        <label>Aplicación</label>
        <select class="form-control" [(ngModel)]="model.id_aplicacion" name="id_aplicacion" required (change)="obtenerRoles(model.id_aplicacion)">
          <option [ngValue]="undefined">-- Seleccione --</option>
          <option *ngFor="let obj of aplicacionesList" [ngValue]="obj.id_aplicacion">{{obj.nombre_aplicacion}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Rol</label>
        <select class="form-control" [(ngModel)]="model.id_rol" name="id_rol" required>
          <option [ngValue]="undefined">-- Seleccione --</option>
          <option *ngFor="let obj of rolList" [ngValue]="obj.id_rol">{{obj.nombre_rol}}</option>
        </select>
      </div>

      <div class="form-group btn-container">
        <div class="form-row" style="margin-bottom: 1.0em">
          <button class="btn btn-primary btn-block" style="margin-right: 5px;"
                  [swal]="commonSwal"
                  (confirm)="seleccionarApp()"
                  [disabled]="!myForm.form.valid">
            Ingresar
          </button>
        </div>
        <div class="form-row">
          <button class="btn btn-danger btn-block" (click)="cerrarSesion()">
            Cerrar sesión
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<swal
        #commonSwal
        title="Confirmar"
        text="¿Estás seguro de continuar?"
        type="question"
        [showCancelButton]="true"
        [focusCancel]="true">
</swal>

 <spinner [backgroundColor]="'#007bff'" [spinner]="spinkit.skThreeBounce">
 </spinner>
